<h1 class="text-center pt-5">Editing Project</h1>

<%= render 'form', project: @project %>

<div class="text-center p-5">
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %> 
</div> 
